@import "tailwindcss";

/*.input {*/
/*    @apply w-full px-4 py-3 rounded-lg border border-default bg-neutral-secondary-soft text-heading*/
/*    focus:outline-none focus:ring-2 focus:ring-brand;*/
/*}*/
